:root {
    --bg-header: yellow;
    --bg-home: #fff;
    --bg-section: #1d1d1d;
    --light-text: #dcdcdc;
    --border: #000;
    --border-2: #ff0000;
    --card: #eeeeee;
    --border-card: #949494;
}

.cabecalho {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 7%;
    background: var(--bg-header);
    border-bottom: var(--border);
}

.cabecalho img {
    width: 120px;
    margin: 5px 15px 5px 15px;
}

.src {
    display: flex;
    justify-content: center;
    width: 100%;
}

.src input {
    width: 100%;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid var(--border);
    outline: none;
}

.src button {
    width: 20%;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--border);

}

.src button img {
    width: 25px;
}

.cabecalho .menu {
    display: flex;
    width: 100%;
}

.cabecalho .menu ul {
    display: flex;
    justify-content: end;
    gap: 50px;
    list-style: none;
}

.cabecalho .menu ul li a {
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.cabecalho .menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--border-2);
    border-radius: 20px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.cabecalho .menu ul li a:hover {
    opacity: 0.8;
}

.cabecalho .menu ul li a:hover::after {
    transform: scaleX(1);
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.home .title-show {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.home .sessao {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
    margin: 10px;
}

.home .sessao .artigo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: var(--card);
    border: 1px solid var(--border-card);
    border-radius: 15px;
    transition: all 0.3s ease;
}

.home .sessao a {
    width: 380px;
}

.home .sessao .artigo img {
    width: 100%;
}

.home .sessao .artigo small {
    transition: all 0.3s ease;
}

.home .sessao .artigo:hover {
    transform: scale(1.05);
}

.home .catalogo {
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: column;
    margin: 3px;
    gap: 10px;
    border-radius: 10px;
}

.home .catalogo .show {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.home .catalogo .show .sets {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-right: 5%;
    justify-content: center;
    align-items: end;
}


.home .catalogo .show .sets div {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}


.home .catalogo .show h3,
.home .catalogo .show .light {
    margin-top: 10px;
    z-index: 1;
}

.home .catalogo .show .light {
    color: var(--light-text);
}


.home .catalogo .show img {
    display: flex;
    width: 43%;
    height: 100%;
}

.home .catalogo .show button {
    width: 20%;
    align-items: center;
    justify-content: center;
}

.home .catalogo .show .sets .lista-produtos {
    display: none;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.home .catalogo .show .sets .lista-produtos.ativo {
    display: flex;
    width: 90.3%;
    gap: 20px;
}